<ion-header>
  <header [data]="headerData"></header>
</ion-header>

<ion-content [scrollEvents]="true">
  <ng-container *ngIf="!salesService.salesHistory.length">
    <no-data [data]="noPageData"></no-data>
  </ng-container>

  <ng-container *ngIf="salesService.salesHistory.length">
    <ion-segment (ionChange)="segmentChanged($event)"
                 mode="ios"
                 value="sale">
      <ion-segment-button value="sale">
        <ion-label>
          Sales
        </ion-label>
      </ion-segment-button>
      <ion-segment-button value="quote">
        <ion-label>
          Quotes
        </ion-label>
      </ion-segment-button>
    </ion-segment>

    <sale-item (openSaleEvent)="goToSaleDetails($event)"
               [data]="salesToDisplay">
    </sale-item>
  </ng-container>
</ion-content>

<ion-footer>
  <scroll-to-top (scrollToTopEvent)="scrollToTop()"></scroll-to-top>
</ion-footer>
