<ion-header>
  <header [data]="headerData"></header>
</ion-header>

<ion-content [scrollEvents]="true"
             (ionScroll)="scrolling($event)">
  <ng-container *ngIf="!salesService.salesHistory.length">
    <no-data [data]="noPageData"></no-data>
  </ng-container>

  <ng-container *ngIf="salesService.salesHistory.length">
    <ion-segment (ionChange)="segmentChanged($event)"
                 mode="ios"
                 value="sale">
      <ion-segment-button value="sale">
        <ion-label>
          Sales
        </ion-label>
      </ion-segment-button>
      <ion-segment-button value="quote">
        <ion-label>
          Quotes
        </ion-label>
      </ion-segment-button>
    </ion-segment>

    <ion-slides [options]="slideOpts"
                #slides>
      <ion-slide>
        <sale-item (openSaleEvent)="goToSaleDetails($event)"
                   [data]="sales">
        </sale-item>
      </ion-slide>
      <ion-slide>
        <sale-item (openSaleEvent)="goToSaleDetails($event)"
                   [data]="quotes">
        </sale-item>
      </ion-slide>
    </ion-slides>
  </ng-container>
</ion-content>

<ion-footer>
  <!-- TODO: Make this fade-in -->
  <scroll-to-top (scrollToTopEvent)="scrollToTop()"
                 *ngIf="displayFab">
  </scroll-to-top>
</ion-footer>
