<div *ngFor="let item of componentData"
     class="ion-padding">
  <div class="ion-text-left">
    <ion-text>
      {{ item.title }}
    </ion-text>
  </div>

  <div class="ion-text-right">
    <ion-text>
      MKW {{ item.progress | number:'1.0' }}
    </ion-text>
    <ion-text color="medium">
      / {{ item.target | number:'1.0' }}
    </ion-text>
  </div>

  <ion-progress-bar [value]="item.progress / item.target"
                    [buffer]="item.progress / item.target"
                    [color]="item.color">
  </ion-progress-bar>
</div>
