<!-- <ion-grid class="grid"
          padding>
    <ion-row class="grid__row">
        <ion-title class="grid__row__title"
                   color="dark">
            {{ title }}
        </ion-title>
    </ion-row>

    <div [ngClass]="backgroundColor"
         class="grid__div div--chart">
        <canvas #dataChart
                height="200"></canvas>
    </div>

    <ion-row class="grid__row ion-justify-content-center">
        <button (click)="updateScale(idx)"
                *ngFor="let scale of _dataScales ; let idx = index"
                [color]="isSelectedScale(idx)"
                class="grid__row__button button__global"
                ion-button>
            {{ scale.name }}
        </button>
    </ion-row>
</ion-grid> -->
