//#region Font Family

// [font-bold] {
//   font-family: "FiraBold";
// }

// [font-light] {
//   font-family: "FiraLight";
// }

// [font-medium] {
//   font-family: "FiraMedium";
// }

// [font-regular-fira] {
//   font-family: "FiraRegular";
// }

// [font-semi] {
//   font-family: "FiraSemiBold";
// }


[font-light] {
  font-family: "NunitoLight";
}

[font-light-italic] {
  font-family: "NunitoLightItalic";
}

[font-regular] {
  font-family: "NunitoRegular";
}

[font-italic] {
  font-family: "NunitoItalic";
}

[font-bold] {
  font-family: "NunitoSemiBold";
}

[font-bold-italic] {
  font-family: "NunitoSemiBoldItalic";
}

//#endregion

//#region Font Sizing

[size-10] {
  font-size: 10px;
}

[size-11] {
  font-size: 11px;
}

[size-12] {
  font-size: 12px;
}

[size-14] {
  font-size: 14px;
}

[size-16] {
  font-size: 16px;
}

[size-17] {
  font-size: 17px;
}

[size-18] {
  font-size: 18px;
}

[size-20] {
  font-size: 20px;
}

[size-22] {
  font-size: 22px;
}

[size-24] {
  font-size: 24px;
}

[size-26] {
  font-size: 26px;
}

[size-100] {
  font-size: 100px;
}

//#endregion

//#region Height

[height-1] {
  height: 1px;
}

[height-13] {
  height: 13px;
}

//#endregion
