ion-tabs {
  ion-tab-bar {
    --border: none;
    border-radius: 20px 20px 0 0;
    --background: rgba(var(--ion-color-light-rgb), 0.4);

    ion-tab-button {
      background-color: transparent;
      --padding--start: 4px;
    }
  }
}
