<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content"
              type="overlay">
      <ion-header>
        <ion-toolbar color="primary">
          <!-- <ion-buttons slot="start">
            <ion-button (click)="closeMenu()">
              <ion-icon name="close-sharp"
                        color="primary">
              </ion-icon>
            </ion-button>
          </ion-buttons> -->

          <ion-title color="white">
            {{ appStateService.branchInfo.name }}
          </ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-no-padding">
        <ion-list id="inbox-list"
                  class="no-lines">
          <ion-menu-toggle auto-hide="false"
                           *ngFor="let page of appPages; let i = index">
            <ion-item routerDirection="root"
                      [routerLink]="[page.url]"
                      lines="none"
                      detail="false"
                      routerLinkActive="selected">
              <ion-icon slot="start"
                        [name]="page.icon"
                        color="medium-alt">
              </ion-icon>
              <ion-label>
                {{ page.title }}
              
                <ion-badge slot="end"
                           mode="ios"
                           color="primary"
                           *ngIf="page.title === 'LLTC'">
                  3
                </ion-badge>
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>

      <ion-footer class="ion-padding"
                  color="primary">
        <ion-grid class="ion-no-padding">
          <ion-row>
            <ion-col class="col__logo">
              <!-- <ion-img src="./assets/img/farmers-world-logo.png"></ion-img> -->
            </ion-col>
            <ion-col class="col__logout">
              <ion-button color="white"
                          fill="outline"
                          (click)="logout()">
                <ion-icon name="power-outline"></ion-icon>
                &nbsp;
                Log out
              </ion-button>
              <small class="version__number">
                v x.x.x
              </small>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-footer>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
