<ion-header>
  <header [data]="headerData"></header>
</ion-header>

<ion-content>
  <ion-virtual-scroll [items]="items"
                      approxItemHeight="160px">
    <ion-card color="grey-light"
              *virtualItem="let item; let itemBounds = bounds;">
      <ion-card-content>
        <ion-grid class="ion-no-padding">
          <ion-row>
            <ion-col>
              <div class="ion-text-start">
                Sage Invoice
              </div>
            </ion-col>
            <ion-col>
              <div class="ion-text-end">
                IN000000001
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <div class="ion-text-start">
                Victory Invoice
              </div>
            </ion-col>
            <ion-col>
              <div class="ion-text-end">
                IN000000001
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <div class="ion-text-start">
                Created Date
              </div>
            </ion-col>
            <ion-col>
              <div class="ion-text-end">
                19/4/21, 13:14
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>

      <ion-item color="grey-light"
                lines="none"
                class="ion-activatable ripple-parent ion-no-padding">
        <ion-ripple-effect></ion-ripple-effect>

        <ion-label class="ion-padding-start">
          MWK 100
        </ion-label>

        <ion-text color="primary">
          View Sale
          <ion-icon name="arrow-forward-sharp"></ion-icon>
        </ion-text>
      </ion-item>
    </ion-card>
  </ion-virtual-scroll>
</ion-content>
