ion-content {
  ion-card {
    ion-item {
      border-top: 1px solid var(--ion-color-white);

      ion-text {
        padding: 8px 0;

        ion-icon {
          position: relative;
          top: 2px;
        }
      }
    }
  }
}
