<ion-header>
  <header [data]="headerData"></header>
</ion-header>

<ion-content fullscreen="true"
             (ionScroll)="scrolling($event)">

  <ng-container *ngIf="!appStateService.deviceConnectivity.connected">
    <no-data [data]="noPageData"></no-data>
  </ng-container>

  <ng-container *ngIf="appStateService.deviceConnectivity.connected">
    <sales-data [data]="salesData"></sales-data>

    <sales-graph [data]="saleTrendsData"></sales-graph>

    <progress-bar [data]="progressBarData"></progress-bar>
  </ng-container>
</ion-content>
