div {
  display: grid;
  place-items: center;
  position: absolute;
  top: 30%;
  
  ion-icon {
    color: rgba(var(--ion-color-medium-rgb), 1);
  }

  ion-text {
    color: rgba(var(--ion-color-light-rgb), 1);
    font-weight: 600;
    white-space: pre-line;
  }
}
